*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
background-color:rgba(0, 0, 0, 0.289);
border-radius: 8px;
box-shadow: 0 3px 10px;
width: 500px;
}

#form{
    padding: 30px 40px ;    
}

h2{ 
    text-align: center;
    margin: 0 0 20px;
}
.ct-form{
    margin-bottom: 10px;
    padding-bottom:10px ;
    position: relative;
}
.ct-form label {
    color: #f0f0f0;
    display: block;
    margin-bottom: 5px;
}
.ct-form input {
 border: 3px solid #f0f0f0;
 border-radius: 5px;
 display: block;
 width: 100%;
 padding: 9px;
 font-size: 14px;
}
.ct-form input:focus {
    border-color:#777;
}

