:root {
    --success-color: green;
    --error-color: red;
}


*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(12, 5, 5, 0.851);
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
background-color:rgba(0, 0, 0, 0.289);
border-radius: 8px;
box-shadow: 0 3px 10px;
width: 500px;
}

#form{
    padding: 30px 40px ;    
}

h2{ 
    text-align: center;
    margin: 0 0 20px;
}
.ct-form{
    margin-bottom: 10px;
    padding-bottom:10px ;
    position: relative;
}
.ct-form label {
    color: #f0f0f0;
    display: block;
    margin-bottom: 5px;
}
.ct-form input {
 border: 3px solid #f0f0f0;
 border-radius: 5px;
 display: block;
 width: 100%;
 padding: 9px;
 font-size: 14px;
}
.ct-form input:focus {
    border-color:#777;
}

.ct-form.success input {
    border-color: var(--success-color);
}
.ct-form.error input {
    border-color: var(--error-color);
}
.ct-form small {
    color: red;
    position: absolute;
    visibility: hidden;
    
}
.ct-form.error small {
    visibility: visible;
}
#form #button {
    display: block;
    font-size: 15px;
    padding: 10px;
    margin-top: 18px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(9, 9, 22, 0.17);
    border: 1px solid rgb(6, 6, 26);
    border-radius: 5px;
    color: #fff;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
